.main-container {
  background-color: #004f9e;
}
.content {
  background-color: #ffffff;
  border-radius: 5px;
}
.input {
  border: none;
  border-bottom: 1px solid #ddd;
  outline: none;
  box-sizing: border-box;
}
.label {
  color: rgb(196, 193, 193);
}
.label-input {
  margin-left: 12px;
}
.form-control:focus {
  box-shadow: none;
}
.btn-add {
  padding: 10px 30px;
  background-color: #004f9e;
  color: white;
  border-radius: 5px;
  outline: none;
  border: none;
}
.btn-add:focus {
  border: 1px solid #ddd;
  outline: 1px solid #ddd;
}
.heading {
  color: rgb(131, 130, 130);
}
.icon-back {
  border-radius: 50%;
  background-color: #004f9e;
  width: 30px;
  height: 30px;
  padding: 0px 7px;
}
.address-field {
  display: block;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.table-item {
  padding: 18px 10px !important;
}
